<% content_for :page_title do %>
  <%= @active_sale.name %>/<%= Spree.t(:new, scope: [:active_sale, :event, :title]) %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:back, scope: [:active_sale, :event, :link]), [:edit, :admin, @active_sale], icon: 'arrow-left', id: 'admin_active_sales_link' %>
<% end %>

<div data-hook="admin_active_sale_event_edit_form">
  <%= render partial: 'form' %>
</div>
